<section
  class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden"
  data-header-color="black"
>
  <div class="z-30 relative h-full flex flex-col">
    <header>
      <h2 class="text-black pt-40 text-[40px] font-medium">Model Y</h2>
      <p class="text-black text-sm underline underline-offset-4 hover:decoration-2 cursor-pointer inline-block">Concertar una prueba de conducción</p>
    </header>
    <footer class="flex flex-grow flex-col flex-nowrap justify-end pb-20">
      <div class="flex mx-auto gap-x-6">
        <a
          class="bg-zinc-700 text-sm rounded font-medium text-white px-12 py-2 hover:bg-zinc-500 hover:text-white transition-colors"
          href="#"
        >
          Explorar inventario</a
        >
        <a
          class="bg-white inline-flex justify-center items-center text-sm rounded font-medium text-black px-12 py-2 hover:bg-gray-200 hover:text-black transition-colors"
          href="#"
        >
          Pedido personalizado</a
        >
      </div>
    </footer>
  </div>
  <div class="absolute top-0 bottom-0 w-full h-full z-10">
    <img
      src="/model-y.avif"
      class="object-cover w-full h-full object-center"
      alt="Model Y"
    />
  </div>
</section>
